@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>

<style>
    
.level1Tab {
    border:solid;
    padding-bottom:40px;
    margin:1px;
    color:maroon;
    /*border-radius:25px;*/
    text-align:center;
    font-size:large;
    width:200px;
    height:32px;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
}

.level1Tab:hover {
    background-color:maroon;
    color:white;
    opacity:.6;
}

.level1TabActive {
    background-color:maroon;
    color:white;
}
   
.level2Tab {
    border:solid;
    padding-bottom:40px;
    margin:1px;
    color:maroon;
    /*border-radius:25px;*/
    text-align:center;
    font-size:large;
    width:200px;
    height:32px;
    border-top-left-radius:20px;
    border-top-right-radius:20px;        
}

.level2TabActive {
    background-color:maroon;
    color:white;
}
.level2Tab:hover {
        background-color: maroon;
        color: white;
        opacity: .6;
    }

</style>
<script>

var topTabList = null;

var secondLevelTabList = null;

$(document).ready(function() {
    topTabList = document.getElementsByClassName("topTab");
    });


function loadPage(e, url) {
    setLevel2TabState(e);
    window.open(url, 'maintenance');
}

function buildButton(url, label, width=184){
    return "<button class='level2Tab' style='width:'" + width + "px' onclick='loadPage(this, \"" + url + "\")'>" + label + "</button>\n";
}

function setLevel1TabState(e)
{
    $(".level1Tab").removeClass("level1TabActive");
    $(e).addClass("level1TabActive");
}

function setLevel2TabState(e)
{
    $(".level2Tab").removeClass("level2TabActive");
    $(e).addClass("level2TabActive");
}

function basicElementMenu(e) {

    setLevel1TabState(e);

    var menuText =  buildButton("/AC/Aircraft", "Aircraft") +
                    buildButton("/Warranties/Warranties", "Guarantees/Warranties") +
                    buildButton("/Squawks/Squawks", "Squawks") +
                    buildButton("/ADandSB/ADandSB", "AD, SB and FCD") +
                    buildButton("/TaskCards/TaskCards", "Task Cards") +
                    buildButton("/Vendors/Vendors", "Vendors") +
                    buildButton("/Warehouses/Warehouses", "Warehouses")
                    ;

    document.getElementById('TabLevel2').innerHTML = menuText;
    document.getElementById('main_header').innerHTML = "MAINTENANCE"
}

function maintenanceMenu(e) {

    setLevel1TabState(e);

    var menuText =  buildButton("/Squawks/MELCmplDue", "MEL Cmpl Due") +
                    buildButton("/Squawks/DMIRprt", "DMI Report") +
                    buildButton("/Squawks/MechSvcInterrupt", "Mech Svc Interrupt") +
                    buildButton("/ADandSB/ADandSBCompliance", "AD/SB Compliance") +
                    buildButton("/ADandSB/ADandSBComplianceWorksheet", "AD/SB Compliance Wksh", 220) +
                    buildButton("/Parts/PartsOnGuaranteeWarranty", "Parts On Warranty") +
                    buildButton("/Parts/M15ProjDueDateByPartNmbr", "Proj Due By Part Nmbr", 220) +
                    buildButton("/Parts/M16ProjDueDateByTailNmbr", "Proj Due By Tail Nmbr", 220) +
                    buildButton("/Parts/M18ProjMaintByTime", "Proj Maintenance By Time", 220) +
                    buildButton("/Parts/M19ComponentRemovals", "Component Removals", 220) +
                    buildButton("/Parts/M20PartsOnAcftRotable", "Parts On Acft (Rotable)", 220) +
                    buildButton("/Parts/M21MaintHistory", "Maintenance History", 220) +
                    buildButton("/Parts/M22PartsUtilization", "Parts Utilization", 220) +
                    buildButton("/Parts/M23ReliabilityMonitoring", "Reliability Monitoring", 220)
                    ;

            document.getElementById('TabLevel2').innerHTML = menuText;
       
}

function workOrders() {
    setLevel1TabState(e);
}

function inspections(e) {

    setLevel1TabState(e);

    var menuText =  buildButton("/Inspections/InspectionCheckNames", "Inspection/Check Names") +
                    buildButton("/Inspections/InspectionResets", "Inspection Resets") +
                    buildButton("/Inspections/InspectsByTailNmbr", "Inspection By Tail Nmbr") +
                    buildButton("/Inspections/InspectsByPartNmbr", "Inspection By PN / SN Nmbr") +
                    buildButton("/Inspections/InspectResults", "Inspection Results")
                    ;


            document.getElementById('TabLevel2').innerHTML = menuText;
}

function phyInventory() {

    setLevel1TabState(e);

}

function components() {

    setLevel1TabState(e);

}

function stores() {

    setLevel1TabState(e);

}

</script>
</head>
<body>
    <div style="position:center;border-bottom:4px solid maroon">

        <button id="ElementMenuButton" class="level1Tab" onclick="basicElementMenu(this)">Basic Elements</button>
        <button id="MaintenanceMenuButton" class="level1Tab" onclick="maintenanceMenu(this)">Maintenance</button>
        <button id="WorkOrdersButton" class="level1Tab" onclick="workOrders(this)">Work Orders</button>
        <button id="InspectionsButton" class="level1Tab" onclick="inspections(this)">Inspections</button>
        <button id="PhysInventoryButton" class="level1Tab" onclick="physInventory(this)">Physical Inventory</button>
        <button id="ComponentsButton" class="level1Tab" onclick="components(this)">Components</button>
        <button id="StoresButton" class="level1Tab" onclick="stores(this)">Stores</button>

    </div>
  
   <div id="TabLevel2" style="width:100%;margin-top:32px"></div>
   
   <div style="height:128px;position:fixed"></div>
    

    <iframe id="maintenance" name="maintenance" style="width:100%;min-height:1000px;height:100px;position:center;">
    </iframe>

    @*</div>*@
</body>
