@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<body>
    <button id="ElementMenuButton" class="topTab unSelected" onclick="basicElementMenu(this)">Users</button>
    <button id="MaintenanceMenuButton" class="topTab unSelected" onclick="maintenanceMenu(this)">Clients</button>
    <hr style="color:maroon;height:3px;margin-top:0px" />
    <div style="height:42px"></div>
    <div style="height:42px"></div>

    <iframe id="maintenance" name="maintenance" style="width:100%;min-height:1000px;height:100px">
    </iframe>
</body>
