@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
<link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous">
<script>
function loadIFrame(src){
    console.log(src);
    $('main').attr('src', src);
}

    function setSideTabFormat(navBtn) {
        $(".nav-vert").removeClass("sideTabActive");
        $(navBtn).addClass("sideTabActive");
    }
</script>

<style>
   .sideTabActive {
       background-color: maroon;
       color:white;
   }

    .sideTab {
        background-color: white
        color: maroon;
        border:solid;
        border-color:maroon;
    }

     .sideTab:hover {
        background-color: maroon;
        color: white;
        opacity: .6;
    }

    form i {
        margin-left: -30px;
        cursor: pointer;
    }
</style>


<div id="basePage">
    <div style="height:100px"></div>

    <div class="container" style="text-align:center">
        <h2 style="text-align:center;color:maroon">WELCOME TO SPECTRUM WEB </h2>
        <div style="height:32px"></div>
        <h2 style="text-align:center;color:maroon">Please Sign In</h2>
        <<div style="height:32px"></div>
        <form>
            <p>
                <label>Username:</label>
                <input type="text" name="userID" id="userID">
            </p>
            <p>
                <label>Password:</label>
                <input type="password" name="password" id="password" />
                <i class="bi bi-eye-slash" id="togglePassword"></i>
            </p>
            
        </form>
        <div style="height:24px"></div>
        <button style="color:maroon" class="btn btn-primary">
            Sign In
        </button>
    </div>
    
</div>

<script>


    const togglePassword = document
        .querySelector('#togglePassword');
    const password = document.querySelector('#password');
    togglePassword.addEventListener('click', function (e) {
        // toggle the type attribute
        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);
        // toggle the eye slash icon
        this.classList.toggle('fa-eye-slash');
    });
</script>

@* <h2 id="main_header" style="margin:auto;text-align:center;color:maroon;top:0;position:fixed;left:50%;transform: translate(-50%, 0)">SPECTRUM-WEB</h2> *@
@* <div class="row" style="margin-top:80px">
    <div class="col-1" style="width:90px;border-right:4px solid maroon;position:fixed;margin-top:60px">
         

        <ul style="float:right;margin-right:-20px">
            <li style="transform:rotate(270deg);"><a class="nav-vert sideTab" onclick="setSideTabFormat(this)" href="/Admin/Admin" target="main">Admin</a></li>
            <li style="transform:rotate(270deg);"><a class="nav-vert sideTab" onclick="setSideTabFormat(this)" href="#">Accounting</a></li>
            <li style="transform:rotate(270deg);"><a class="nav-vert sideTab" onclick="setSideTabFormat(this)" href="/Maintenance/Maintenance" target="main"><div style="margin:-14px">Maint &amp;<br />Eng</div></a></li>
            <li style="transform:rotate(270deg);"><a class="nav-vert sideTab" onclick="setSideTabFormat(this)" href="#">Flight Ops</a></li>
            <li style="transform:rotate(270deg);"><a class="nav-vert sideTab" onclick="setSideTabFormat(this)" href="#">Cargo</a></li>
            <li style="transform:rotate(270deg);"><a class="nav-vert sideTab" onclick="setSideTabFormat(this)" href="#">Reservations</a></li>
            <li style="transform:rotate(270deg);margin-bottom:64px"><a class="nav-vert" onclick="setSideTabFormat(this)" href="#">Revenue</a></li>
        </ul>

    </div>

    <div class="col-11" style="margin-left:90px;position:fixed">

        <iframe id="main" name="main" style="width:100%;min-height:1024px;height:100%;position:fixed">
            
           

        </iframe>

    </div>
</div> *@


 <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    