@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script>
function loadIFrame(src){
    console.log(src);
    $('main').attr('src', src);
}
</script>

<style>
   
</style>
<div class="row">
    <div class="col-1" style="width:90px;border-right:4px solid maroon;margin-top:116px">
         @*<div class="dropdown" style="display:inline">
              <button class="dropbtn" style="height:66px;width:82px;background-color:white">
                <img src="~/Img/MenuIcon.png" style="height:40px;width:60px"/>
              </button>
              <div class="dropdown-content">
                    <a href="/Admin/Admin" target="main">Admin</a>
                    <a href="#">Accounting</a>
                    <a href="/Maintenance/Maintenance" target="main">Maintenance</a>
                    <a href="#">Flight Ops</a>
                    <a href="#">Cargo</a>
                    <a href="#">Reservations</a>
                    <a href="#">Revenue</a>
              </div>
         </div>@*@

        <ul style="float:right;margin-right:-26px">
            <li style="transform:rotate(270deg);"><a class="nav-vert" href="/Admin/Admin" target="main">Admin</a></li>
            <li style="transform:rotate(270deg);"><a class="nav-vert" href="#">Accounting</a></li>
            <li style="transform:rotate(270deg);"><a class="nav-vert" href="/Maintenance/Maintenance" target="main">Maintenance</a></li>
            <li style="transform:rotate(270deg);"><a class="nav-vert" href="#">Flight Ops</a></li>
            <li style="transform:rotate(270deg);"><a class="nav-vert" href="#">Cargo</a></li>
            <li style="transform:rotate(270deg);"><a class="nav-vert" href="#">Reservations</a></li>
            <li style="transform:rotate(270deg);margin-bottom:64px"><a class="nav-vert" href="#">Revenue</a></li>
        </ul>
         @*<ul>
             <li>
                 <button class="vertnav" onclick="">Admin</button>
             </li>
             <li>
                <button class="vertnav" onclick="">Accounting</button>
             </li>
         </ul>*@
    </div>

    <div class="col-11">
        <h2 id="main_header" style="text-align:center;color:maroon">WELCOME TO SPECTRUM-WEB</h2>
        <div style="height:120px;" />
        <iframe id="main" name="main" style="width:100%;min-height:1024px;height:100%;" />

    </div>
</div>



 <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
      
    
 <footer class="border-top footer text-muted" style="position:absolute;bottom:0">
        <div class="container">
            &copy; 2022 - Minerva Research and Development, LLC. All rights reserved.
        </div>
    </footer>
   
    